{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
    <h1>Presentations</h1>

    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
    <div>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="article-style"><p>{{ .Summary }}</p></div>
        <a class="btn btn-primary btn-outline" href="{{ $.Site.BaseURL }}pres/{{ .Params.slides }}">View Slides</a>
    </div>
    {{ end }}

    {{ partial "pagination" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}

